<h1>Patient#show</h1>

<% @patient.appointments.each do |appointment| %>
  <p><%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></p><br />
  <p><%= appointment.appointment_datetime.to_formatted_s(:long) %></p>
<% end %>
