<h1>Patient#show</h1>

<ol>
  <% @patient.appointments.each do |appointment| %>
    <li><%= appointment.appointment_datetime.to_formatted_s(:long) %></li>
    <li><%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></li>
  <% end %>
</ol>
