<h1>Appointment#show</h1>

<ol>
  <li><a href="doctor_path(@appointment.doctor)"> Doctor: <%= @appointment.doctor %></li>
  <li><a href="patient_path(@appointment.patient)">Patient: <%= @appointment.patient %></li>
</ol>
